@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  background: url(https://images7.alphacoders.com/975/975991.png) no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  font-family: "Lato", sans-serif;
}

main {
  background: rgb(0, 0, 0);
  background: linear-gradient(292deg, rgba(0, 0, 0) 14%, rgba(75, 0, 130) 87%);
  width: 450px;
  height: 300px;
  border-radius: 0 60px 0 60px;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
}

label {
  font-size: 19px;
  color: white;
  display: grid;
  justify-items: center;
}

input[type="button"] {
  text-align: center;
  width: 90px;
  height: 35px;
  background: #dc143c;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  padding-left: 11px;
}

input[type="button"]:hover {
  background: #ff69b4;
}

p.errou {
  color: #fc440f;
  font-weight: 500;
}

p.acertou {
  color: #898952;
  font-weight: 500;
}

input {
  display: flex;
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 40px;
  border: none;
  outline: 0;
  padding: 0 10px;
  font-size: 18px;
}

img {
  width: 350px;
  position: absolute;
  left: 300px;
  top: 0;
}
